# Dependencies
# ------------
# Add here the list of packages that need to be install to run the app.
# This list is to be updated manually as new packages are added to the project.
# Do not use an automated to freeze local dependencies.
# For convenience dev dependencies are in the file: requirements-dev.txt

# Package installer
pip==25.3

# Install all dependencies in setup.py
-e .

# Optional dependencies
pyairtable~=3.2
SQLAlchemy~=2.0
setuptools~=80.9
