# DEV dependencies
# ----------------
# This file list additional dependencies that are needed in a dev environment.
# The dev dependencies are not needed to run the app.
# There are only useful to perform extra actions such as formatting, linting, and testing.
# Any dependency listed here will not be installed in production.
# Installing this file will also install all default requirements available in: requirements.txt
#
# To install, run:
# pip install -r requirements-dev.txt
#
# To list outdated packages, run:
# pip list --outdated

# Default requirements
-r requirements.txt

# Formatting
black~=24.8
isort~=5.13
rich~=13.9

# Linting
pylint~=3.3
mypy~=1.11
pydocstyle~=6.3

# Linting: Stubs
types-PyYAML~=6.0
celery-types~=0.22
motor-stubs~=1.7
types-setuptools~=75.1
types-passlib~=1.7
types-requests~=2.32

# Testing
pytest~=8.3
pytest-asyncio~=0.24.0
coverage~=7.6
pytest-cov~=5.0
async-asgi-testclient~=1.4
pytest-celery~=1.1
pydantic-settings~=2.5

# CI/CD
pre-commit~=3.8
PyYAML~=6.0
