# Github Action Workflow
# ----------------------
# This file helps automate the merging of the main branch to staging.

name: 'Merge to release'

on:
  workflow_run:
    workflows: ["Linting & Testing"]
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout release branch
        uses: actions/checkout@v4
        with:
          ref: 'release'

      - name: Fetch all branches
        run: git fetch --all

      - name: Merge staging into release
        run: git pull --progress --ff-only origin --no-edit staging

      - name: Push release branch
        run: git push origin release
